/*recharts*/

[data-background="light"] {
  .recharts-responsive-container {
    @apply text-black;
  }
}

[data-background="dark"] {
  .recharts-responsive-container {
    @apply text-white;
  }
}

.text-2xs {
  font-size: .65rem;
}

.recharts-cartesian-axis-tick-value {
  @apply text-slate-500 dark:text-slate-400 text-2xs;
}