.custom-font {
  font-family: 'Poppins', sans-serif !important;
}

.ant-select-selection-item,
.ant-select-item-option-content,
.ant-picker-panel-layout {
  @apply custom-font;
}

.ant-select {
  @apply custom-font text-black dark:text-white text-base;
}

.ant-select-selector {
  @apply bg-slate-50 dark:bg-slate-800 border-0 rounded-none py-1 !important;
}

.ant-select-clear,
.ant-select-selection-item-remove,
.ant-select-item-option-state {
  @apply bg-transparent flex items-center !important;
}

.ant-select-clear,
.ant-select-selection-item-remove {
  @apply text-slate-400 !important;
}

.ant-select-selection-item-content {
  @apply custom-font text-black dark:text-white;
}

.ant-picker-input input,
.ant-picker-range-separator span,
.ant-picker-suffix span {
  @apply custom-font text-black dark:text-white;
}

.ant-select-selection-placeholder,
.ant-picker-input input::placeholder {
  @apply custom-font text-slate-400 dark:text-slate-500 text-base;
}

.ant-picker-clear {
  @apply bg-white rounded-full;
  span {
    @apply custom-font text-slate-400 dark:text-slate-500;
  }
}

.ant-btn-primary {
  &:not(:disabled) {
    @apply bg-blue-500 hover:bg-blue-600 dark:bg-blue-500 dark:hover:bg-blue-400 border-0 custom-font text-white;
  }
}