html {
  scroll-behavior: smooth;
}

h1 {
  @apply text-5xl;
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-3xl;
}
h4 {
  @apply text-2xl;
}
h5 {
  @apply text-xl;
}
h6 {
  @apply text-lg;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-sans;
}

code {
  @apply inline rounded font-mono font-semibold p-1;
}
pre {
  @apply block rounded whitespace-pre-wrap font-mono font-semibold p-2;
}

ul {
  @apply list-none;
}

*,
input,
select,
textarea,
option,
button {
  outline: none !important;
  &:focus {
    outline: none !important;
  }
}

/**
 * hide scrollbars
 */
::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}
.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

#__next {
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

body {
  @apply font-sans antialiased text-sm disable-scrollbars;
}

[data-background="light"] {
  @apply text-slate-900;
  code,
  pre {
    @apply bg-slate-100;
  }
}

[data-background="dark"] {
  @apply text-white;
  code,
  pre {
    @apply bg-slate-800;
  }
}
.link {
  @apply text-blue-500;
}

.ring-red {
  box-shadow: 0 0 0 3px theme("colors.red.300");
}
.ring-green {
  box-shadow: 0 0 0 3px theme("colors.green.300");
}
.ring-white {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 1);
}
.ring-black {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 1);
}

.react-switch {
  vertical-align: middle;
  margin-left: 4px;
}

.react-icons {
  vertical-align: middle;
}

.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}

.string-value {
  @apply break-all;
}

.recharts-cartesian-axis-tick-value {
  @apply fill-current text-slate-900 dark:text-white text-2xs sm:text-xs md:text-xs lg:text-xs xl:text-xs font-medium;
}

.mobile-hidden-x .recharts-cartesian-axis-tick-value {
  @apply hidden sm:block;
}

.small-x .recharts-cartesian-axis-tick-value {
  font-size: .65rem !important;
}

.recharts-label {
  @apply text-2xs sm:text-xs md:text-sm lg:text-sm xl:text-sm font-semibold;
}

.font-default .recharts-label {
  @apply font-sans;
}

.recharts-label-list text tspan {
  @apply text-3xs sm:text-xs md:text-xs lg:text-xs xl:text-xs;
}

.w-34 {
  width: 8.5rem;
}

.w-38 {
  width: 9.5rem;
}

.max-w-8xl {
  max-width: 88rem;
}

.max-w-6\.5xl {
  max-width: 76rem;
}

.h-1\.5 {
  height: .375rem !important;
}

.h-84 {
  height: 21rem !important;
}

.h-88 {
  height: 23rem !important;
}

.h-92 {
  height: 23.5rem !important;
}

.h-100 {
  height: 24.5rem !important;
}

.h-104 {
  height: 25rem !important;
}

.h-108 {
  height: 25.5rem !important;
}

.h-120 {
  height: 27rem !important;
}

.left-71\.6 {
  left: 17.9rem;
}

.left-74 {
  left: 18.5rem;
}

.left-75\.6 {
  left: 18.9rem;
}

.left-99 {
  left: 24.75rem;
}

.text-2xs {
  font-size: .65rem;
}

.text-3xs {
  font-size: .5rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.main {
  @apply bg-white dark:bg-black;
}

.min-h-screen {
  min-height: calc(100vh - 168px) !important;
}

.linkify a {
  @apply text-blue-600 dark:text-white font-semibold;
}

.backdrop-blur-8 {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.backdrop-blur-16 {
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

#cross-chain canvas {
  @apply max-w-md lg:max-w-none mt-8 sm:mt-0;

  height: auto !important;
}

.status-message a {
  @apply text-blue-500 dark:text-blue-600 font-medium;
}